/*Media Query for Desktop*/

@media (min-width: 960px) {
	

	/*Navbar*/

.nav-top {
	width: 100%;
	height: 80px;
	background: var(--dark-color);
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0px 10%;

	z-index: 1;

}

.header-logo {
	margin-top: 25px;
	width: 100px;
	height: 100px;

}

.header-logo img {
	width: 100%;
	height: 100%;
}

#check, .checkbtn {
	display: none;
}

ul > p {
	display: none;
}

nav a {
	color: white;
}

nav ul li {
	margin: 10px;
	font-family: var(--main-font);
	display: inline;
	text-transform: uppercase;
	font-size: 11px;
}

nav a:active, a:hover {

	color: var(--primary-color);
	transition: all .45s ease;

}


#landing {

	height: 100vh;
	background: url(../images/spotlight.jpg) no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	
}
.landing-container {
	position: relative;
	/*padding-top: 500px;*/
	height: 100%;
	font-family: var(--main-font);
	color: var(--secondary-color);
	text-align: center;
	align-items: center;
	justify-content: center;

}

.overview {
		margin-top: 400px;
		/*position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);*/

	}


.landing-container h1 {
	font-family: var(--secondary-font);
	color: var(--light-color);
	font-weight: 900;
	font-size: 50px;
	text-transform: uppercase;
	


}

.landing-container h2 {
	font-family: var(--secondary-font);

	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}


h1 span {
	color: var(--primary-color);
	margin: 0;
	
	animation: animate 1s linear forwards;
}

@keyframes animate 

{
	0% {
 		opacity: 0;
 		filter: blur(10px);
}
	100% {
		opacity: 1;
		filter: blur(0);
	}
}



	/*--------------------------Start of About Page---------------------------------------------*/

#section-about {
	margin: 0 auto;
	height: auto;
	/*padding: 70px;*/
	background: var(--light-dark);
}

.about-container {
	/*padding: 50px;*/
	height: 100vh;
	color: white;
	font-family: var(--secondary-font);

}

.section-intro {
	padding-top: 90px;
}

.section-intro > p {
	margin-top: 3px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}

.section-intro h2 {
	text-align: center;
	font-family: var(--secondary-font);
	color: var(--light-color);
	letter-spacing: 0.1em;
}

.about-container span {
	color: var(--primary-color);
}


.grid-about {
	
	padding:20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto); 
	align-self: center;

}
	/*---------------------------My Picture Container--------------------------------------------*/

.about-img {
	
	/*justify-self:end;*/
	border-radius: 10px;
	/*margin: 20px;*/
	background: var(--supporting-color);
	/*height: 500px;
	width: 500px;*/
}

/*.about-img img {
	padding: 5px;
	height: 100%;
	width: 100%;
}
	*/
	/*---------------------------------------My Skill Container------------------------------------*/

.skill-container {

	box-sizing: border-box;
	border-radius: 15px;
	padding: 20px;
	background: var(--light-dark);

	display: grid;
	grid-template-columns: 1fr;


}

hr {
	margin: 10px 20px;
}

.skills-name {
	font-weight: bold;
	font-size: 12px;
}

.skill-container p {
	margin: 5px;
}

.html-skill {
	margin: 2px;
	width: 100%;
	background: #ddd;
	border-radius: 10px;
}

.skills {
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white; 
	border-radius: 5px;
}

.html {background-color: #DC143C; width: 90%}
.css {background-color: #D2691E; width: 25%}
.js {background-color: #00CED1; width: 36.2%}
.php {background-color: #4B0082; width: 29.59%}
.mysql {background-color: #000080; width: 86.4%}
.java {background-color: #FF4500; width:73.4%}
.matulog {background-color: #2E8B57; width: 92%}



/*-------------------------------Aesthetic Design------------------------------------------*/

#aesthetic-design {
	height: auto;
	
}

.aesthetic-grid {

	background: url(../images/Aesthetic-background-design.jpg)
	rgba(220,220,220, 0.5) no-repeat top center fixed;
	background-size: cover;
}

.icons-div {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/*display: flex;
	flex-direction: space-between;*/
	text-align: center;
	justify-content: center;
	
	padding-top: 20px;
	padding-bottom: 80px;


}

.icon {
	margin-top: 25px;
	/*padding-right: 80px;
	padding-left: 80px;*/
}


.icons-div p {
	margin: 10px;
	color: var(--light-color);
	font-family: var(--secondary-font);
	font-size: 16px;
}

.icon .number {
	font-size: 36px;
	font-weight: 700;
}

.fas, .far {
	color: var(--primary-color);
	font-size: 50px;
	margin-bottom: 10px;
}

.fas:hover, .far:hover {
	color: white;
}



		/*---------------------------------PROJECT SECTION----------------------------------*/

#section-project {
	margin: 0 auto;
	height: auto;
}

.project-intro {
	padding-top: 80px;
	text-align: center;
	font-family: var(--secondary-font);
	letter-spacing: 0.1em;
}

.span-me {
	color: var(--primary-color);
}

.project-div {
	margin: 0 10%;
	height: 500px;
	padding: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	text-align: center;
	grid-gap: 20px;
	
}

.project-1 {
	
	width: 100%;
	height: 100%;
	background-size: cover;
	
	border-top: 5px solid var(--primary-color);
	border-left: 5px solid var(--primary-color);

	border-radius: 15px;
	

}

.project-1 h3 {
	font-size: 12px;
	font-family: var(--secondary-font);

}

.project-1 a {
	color: var(--light-dark);
}

.project-1 a:hover {
	color: var(--primary-color);
}

.project-2 {
	background: coral;

}

.project-3 {
	background: violet;
}


.project-img-2 {
	background: url(../images/Canva1.PNG) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 100%;

	border-radius: 11px;
	margin-bottom: 10px;
}

.project-img-2:hover {
	opacity: 0.5;
}		

	/*Portrait*/
.project-portrait {
	height: 400px;
	background: var(--light-dark);
	color: white;
	text-align: center;
}

.project-portrait-box {
	margin: 0 12%;
	background: red;
	height: 350px;
	

}

} /*-- end of desktop-media*/


@media (min-width: 401px) and (max-width: 960px) {

	.grid-about {
	display: grid;
	grid-template-columns: 1fr;

}

	.about-img {
		font-size: 12px;
		margin: 0;
		padding: 20px;
		height: 300px;
		overflow: hidden;
	}

	.skill-container, p {
		font-size: 12px;
	}


	/*Aesthetic Design*/

	.icons-div .icone-name {
		font-size: 13px;
	}

	.project-div {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}
	
} /*end of tablet media*/