@media only screen and (min-width: 961px) {

.nav-top {
	width: 100%;
	height: 80px;
	background: var(--dark-color);
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0px 10%;

	z-index: 1;

}

.header-logo {
	margin-top: 25px;
	width: 100px;
	height: 100px;

}

.header-logo img {
	width: 100%;
	height: 100%;
}

#check, .checkbtn {
	display: none;
}

.nav-icons {
	display: none;
}

ul > p {
	display: none;
}

nav a {
	color: white;
}

nav ul li {
	margin: 10px;
	font-family: var(--main-font);
	display: inline;
	text-transform: uppercase;
	font-size: 11px;
}

nav a:active, a:hover {

	color: var(--primary-color);
	transition: all .45s ease;

}

#landing {

	height: 100vh;
	background: url(../images/spotlight.jpg) no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	
}
.landing-container {
	position: relative;
	/*padding-top: 500px;*/
	height: 100%;
	font-family: var(--main-font);
	color: var(--secondary-color);
	text-align: center;
	align-items: center;
	justify-content: center;

}

.overview {
		
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);

	}


.landing-container h1 {
	font-family: var(--secondary-font);
	color: var(--light-color);
	font-weight: 900;
	font-size: 50px;
	text-transform: uppercase;
	


}

.landing-container h2 {

	font-family: var(--secondary-font);

	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}


h1 span {

	color: var(--primary-color);
	margin: 0;
	
	animation: animate 2s linear forwards;
}

@keyframes animate 

{
	0% {
 		opacity: 0;
 		filter: blur(10px);
}
	100% {
		opacity: 1;
		filter: blur(0);
	}
}


	/*--------------------------Start of About Page---------------------------------------------*/

#section-about {
	margin: 0 auto;
	height: auto;
	/*padding: 70px;*/
	background: var(--light-dark);
}

.about-container {
	margin: 0 10%;
	height: 100vh;
	color: white;
	font-family: var(--secondary-font);

}

.section-intro {
	padding-top: 90px;
}

.section-intro > p {
	margin-top: 3px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}

.section-intro h2 {
	text-align: center;
	font-family: var(--secondary-font);
	color: var(--light-color);
	letter-spacing: 0.1em;
}

.about-container span {
	color: var(--primary-color);
}


.grid-about {
	margin-top: 30px;
	padding:20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto); 
	

}

	/*CERTIFICATE FOR DESKTOP*/

.about-img {
		border-radius: 5px;
		padding: 10px;
		background: var(--supporting-color);

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5px;

		
}

.certification {
	padding: 10px 10px;
	padding-left: 10px;
	width: 250px;
}

.certification > div {
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.about-certificate-1 {

	height: 100px;
	width: 170px;
	background: url(../images/ITIL.jpg) no-repeat top center;
	background-size: cover;

	border-top: 3px solid var(--primary-color);
	border-left: 3px solid var(--primary-color);
	box-shadow: 5px 5px 5px grey;


}

.about-certificate-2 {
	height: 100px;
	width: 170px;
	background: url(../images/Late.jpg) no-repeat top center;
	background-size: cover;

	border-top: 3px solid var(--primary-color);
	border-left: 3px solid var(--primary-color);
	box-shadow: 5px 5px 5px grey;
}

.about-certificate-3 {
	height: 100px;
	width: 170px;
	background: url(../images/Meeting.jpg) no-repeat center;
	background-size: cover;

	border-top: 3px solid var(--primary-color);
	border-left: 3px solid var(--primary-color);
	box-shadow: 5px 5px 5px grey;
}

.about-certificate-4 {
	height: 100px;
	width: 170px;
	background: url(../images/math.jpg) no-repeat center;
	background-size: cover;

	border-top: 3px solid var(--primary-color);
	border-left: 3px solid var(--primary-color);
	box-shadow: 5px 5px 5px grey;
}


.about-img-1 {

		width: 500px;
		background: url(../images/human.jpg) no-repeat right center;

		box-shadow: 5px 5px 5px grey;

}

			/*SKILL CONTAINER OF DESKTOP*/

	.skill-container {

		box-sizing: border-box;
		border-radius: 15px;
		padding: 20px;
		background: var(--light-dark);

		display: grid;
		grid-template-columns: 1fr;

	}

	hr {
		margin: 10px 20px;
	}

	.skills-name {
		font-weight: bold;
		font-size: 12px;
	}

	.skill-container p {
		font-size: 14px;
		margin: 5px;
		text-align: justify;
	}

	.skill-container h3 {
		padding: 10px 0px;
		font-size: 16px;


	}
	div > h3 {
		font-size: 13px;
	}

	.span-me-2 {
		color: var(--primary-color);
	}

	.html-skill {
		margin: 1px;
		width: 100%;
		background: #ddd;
		border-radius: 10px;
	}

	.skills {
		font-size: 16px;
		font-weight: bold;
		text-align: right;
		padding-top: 3px;
		padding-bottom: 3px;
		color: white; 
		border-radius: 5px;
	}

	.html {background-color: #390099; width: 90%}
	.css {background-color: #9E0059; width: 25%}
	.js {background-color: #FF0054; width: 36.2%}
	.php {background-color: #FF5400; width: 29.59%}
	.mysql {background-color: #FFBD00; width: 86.4%}
	.java {background-color: #FFE6A7; width:73.4%}
	.matulog {background-color: #99582A; width: 92%}




	/*--------------------DESKTOP Aesthetic Section--------------------------------*/
		
	#aesthetic-design {
	height: auto;
		
	}

	.aesthetic-grid {

		background: url(../images/Aesthetic-background-design.jpg) no-repeat top center fixed;
		background-size: cover;
	}

	.icons-div {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		text-align: center;
		justify-content: center;
		
		padding-top: 30px;
		padding-bottom: 80px;

	}

	.icon {
		margin-top: 25px;
	}


	.icons-div p {

		margin: 10px;
		color: var(--light-color);
		font-family: var(--secondary-font);
		font-size: 16px;
	}

	.icon .number {

		font-size: 36px;
		font-weight: 700;
	}

	.icon .fas, .far {

		color: var(--primary-color);
		font-size: 50px;
		margin-bottom: 8px;
	}

	.fas:hover, .far:hover {
		color: white;
	}

		/*--------------------PROJECT SECTION OF DESKTOP-------------------------------*/

	#section-project {
	margin: 0 auto;
	height: auto;

	background: var(--light-bg);
	}

	.project-intro {
		padding-top: 85px;
		text-align: center;
		font-family: var(--secondary-font);
		letter-spacing: 0.1em;
	}

	.project-intro h2 {
		font-size: 1.5em;
	}

	.project-intro p {
		font-size: 12px;
	}

	.span-me {
		color: var(--primary-color);
	}

	.project-div {
		margin: 50px 10%;
		padding: 15px;
		
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		grid-gap: 30px;
		
	}

	.project-1 {
		width: 100%;
		height: 500px;
		background-size: cover;
		background: var(--light-color);
		/*border: 1px solid gray;*/

		box-shadow: 5px 5px 5px grey;
	

	}

	.project-1-description {
		padding: 20px;
	}

	.project-1-description h3 {
		letter-spacing: 1px;
		font-size: 16px;
		font-family: var(--secondary-font);	
		margin-bottom: 10px;

	}

	.project-1 a {
		color: var(--light-dark);
	}

	.project-1 a:hover {
		color: var(--primary-color);
	}

	
	.project-1-description p {
		font-family: var(--secondary-font);
		font-size: 13px;
	}

	.project-img-footer {
		margin-top: 40px;
		height: 50px;
		background: var(--supporting-color);
		border-radius: 4px;
	}


	 .project-btn {
		margin: 8px 10px;
		padding: 10px;
		background: var(--primary-color);
		border-radius: 2px;
		border: 1px solid var(--primary-color);

	}

	.project-btn:hover {
		background: var(--light-color);
		border: 1px solid var(--light-color);
		color: var(--dark-color);
	}

	.project-img {
		background: url(../images/Canva.PNG) no-repeat center center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
		border-radius: 4px;


	}

	.project-img-1 {
		background: url(../images/Cavas.PNG) no-repeat center center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
		border-radius: 4px;

	}

	.project-img-2 {
		background: url(../images/Canva1.PNG) no-repeat top center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
		border-radius: 4px;

	}
	

		/*PORTRAIT SECTION*/

	.project-portrait {
		padding: 10px 0px;
		background: var(--light-dark);
		color: white;
		text-align: center;
	}

	.portrait-intro {

		margin-bottom: 50px;
	}

	.portrait-intro > p {
		font-size: 13px;
	}
	.portrait-intro span {
		color: var(--primary-color);
	}

	.portrait-intro h3 {
		font-size: 1.5em;
		
		
	}

	.project-portrait-box {

		margin-bottom: 20px;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 10px;	

			
	}
	
	.portrait-box-1 {

		width: 100%;
		height: auto;
	}

	.box {
		grid-column: 1/3;
		grid-row: 1/5;
	}

	.box-3 {
		grid-column: 5/7;
		grid-row: 1/3;
	}

	.box-4 {
		grid-column: 5/7;
		grid-row: 3/5;
	}

	.box-6 {
		grid-column: 4/5;
		grid-row: 2/5;
	}

	.box-7 {
		grid-column: 3/4;
		grid-row: 3/5;
	}



	.portrait-box-img {
		
		height: 100%;
		background: url(../images/Css.png) no-repeat center;
		background-size: cover;
		margin-bottom: 10px;
		
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;
		
	}


	.portrait-box-img-1 {

		height: 100%;
		background: url(../images/html5.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;
		
	}

	.portrait-box-img-2 {
		height: 100%;
		background: url(../images/nodejs.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}
	
	.portrait-box-img-3 {
		height: 100%;
		background: url(../images/Javascript.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.portrait-box-img-4 {
		height: 100%;
		background: url(../images/cakephp.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.portrait-box-img-5 {
		height: 100%;
		background: url(../images/Reactjs.jpg) no-repeat center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.portrait-box-img-6 {
		height: 100%;
		background: url(../images/mysql.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.portrait-box-img-7 {
		height: 100%;
		background: url(../images/angular.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.tooltiptext {
		visibility: hidden;
		font-family: var(--secondary-font);
		position: absolute;
		width: 100px;
		color: white;
		background-color: var(--dark-color);
		text-align: center;
		border-radius: 6px;
		padding: 5px;

	}


	.tooltiptext::after {
	  content: "";
	  position: absolute;
	  top: 100%;
	  left: 50%;
	  margin-left: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: black transparent transparent transparent;
	  
	}


	.portrait-box-img-7:hover,
	.portrait-box-img-6:hover,
	.portrait-box-img-5:hover,
	.portrait-box-img-4:hover,
	.portrait-box-img-3:hover,
	.portrait-box-img-2:hover,
	.portrait-box-img-1:hover,
	.portrait-box-img:hover {
		opacity: 1;
		cursor: pointer;
		
	}
	
	.portrait-box-img:hover .tooltiptext {
		visibility: visible;
	}

	.portrait-box-img-1:hover .tooltiptext {
		visibility: visible;
	}
	
	.portrait-box-img-2:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-3:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-4:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-5:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-6:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-7:hover .tooltiptext {
		visibility: visible;
	}

	

	/*RESUME SECTION*/


	#my-resume {
		position: relative;
		margin: 0 auto;
		height: 100vh;
		font-family: var(--secondary-font);
		background: var(--light-bg);
	}

	#my-resume h4 {
		margin: 0 11%;
		
		font-size: 13px;
		text-transform: uppercase;
	}

	#my-resume h6 {
		position: absolute;
		top: 138px;
		left: 972px;
		font-size: 13px;
		text-transform: uppercase;
	}

	.resume-intro {
		text-align: center;
		padding-top: 90px;
		margin-bottom: 20px;
	
	}

	.resume-intro h3 {

		font-size: 1.5em;
	}

	.resume-intro span {
		color: var(--primary-color);
	}

	.resume-container {
		margin: 0 10%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: minmax(100px, auto);

	}


	.resume-container-1 {
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 5px;
		
	}

	.resume-experience {
		margin-bottom: 20px;
		padding: 10px;
		border: 1px solid gray;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

		box-shadow: 5px 5px 5px grey;
	}

	.resume-experience p {
		font-size: 12px;
	}

	.education-container-1 {
		height: 76%;
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 5px;
	}

	.education-1 {
		height: 104px;
		padding: 10px;
		border: 1px solid gray;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

		box-shadow: 5px 5px 5px grey;
	}


	.education-1 p {
		font-size: 12px;
	}


	/*Aesthetic design 2*/


	#aesthetic-design-2 {
	height: auto;
	font-family: var(--main-font);
		
	}

	.aesthetic-grid-2 {

		background: url(../images/4.jpg)
		rgba(220,220,220, 0.5) no-repeat center fixed;
		background-size: cover;
	}
	

	.peoples-container {
		padding: 20px;
		
	}

	.peoples-div {
		
		color: white;
		padding-top: 30px;
		padding-bottom: 80px;
		align-items: center;
		text-align: center;
		justify-content: center;
	}

	.peoples-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 120px;
		width: 120px;
		background: url(../images/kevinhart.jpg) no-repeat center;
		background-size: cover;
		border-radius: 50%;
	}


	.peoples-description p {
		padding: 0 20px;
		font-size: 14px;
		font-style: italic;
	}

	.peoples-description h4 {
		padding: 10px;
		font-size: 24px;
	}

	.peoples-description span {
		font-size: 20px;
		color: var(--primary-color);
	}


	/*CONTACT for DESKTOP*/

	#contact-me {
		height: auto;
		font-family: var(--secondary-font);
		background: var(--light-bg);
	}
	
	.contact-me-intro {
		text-align: center;
		margin: 10px 0px;
		padding-top: 90px;
		margin-bottom: 20px;
	}

	.contact-me-intro h3 {
		font-size: 1.5em;
	}

	.contact-me-intro p {
		font-size: 14px;

	}

	.contact-me-container {
		margin: 20px 10%;
		margin-bottom: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}

	.contact-me-information {
		margin: 0 10px;
		padding: 20px;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);
		box-shadow: 5px 5px 5px grey;
	}

	.area-1 textarea {
		font-size: 13px;
		font-family: var(--secondary-font);
		display: block;
		width: 100%;
		height: 100px;
		border: 1px solid gray;
		margin-bottom: 10px;
		border-radius: 5px;
	}

	.contact-me-button {
		float: right;
	}

	.contact-btn {
		padding: 10px;
		background: var(--primary-color);
		border-radius: 1px;
		border: 1px solid var(--primary-color);
		border-radius: 5px;
	}

	.contact-btn:hover {
		background: var(--light-color);
		border: 1px solid var(--primary-color);
		color: var(--primary-color);
		border-radius: 5px;
	}

	.area-2 {
		clear: both;
		padding-top: 100px;

		text-align: center;
	}

	.area-2 .fab {
		font-size: 40px;
		
		
	}

	.area-2 .fab:hover {
		font-size: 40px;
		
		color: var(--primary-color);
		cursor: pointer;

		
	}

	.contact-me-information-2 {
		margin: 0 10px;
		padding: 20px;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);
		box-shadow: 5px 5px 5px grey;


	}

	

	.resume-icon > div {
		
		margin: 10px;
		
	}

	.resume-icon h3 {

		margin-top: 30px;
	}

	.resume-icon .fas {
		color: black;
		font-size: 30px;
	}

	.resume-icon .fas:hover {
		color: black;
	}

	.resume-information {
		font-family: var(--secondary-font);
		font-size: 20px;
		font-weight: lighter;
	}


	.resume-btn {
		margin-top: 20px;
		margin-bottom: 0px;

		padding: 15px;
		background: var(--primary-color);
		border: 1px solid var(--primary-color);
	}

	.resume-btn:hover {
		color: var(--primary-color);
		background: var(--light-color);
		border: 1px solid var(--primary-color);

		box-shadow: 5px 5px 5px grey;

		cursor: pointer;
	}


	/*FOOTER*/

	#footer {
		margin: 0;
		height: auto;
	}


	.footer-1 {
		font-size: 16px;
		padding: 50px;
		color: white;
		text-align: center;
		justify-content: center;
		align-items: center;
		font-family: var(--secondary-font);
		background: var(--dark-color);

	}


}  /*End of Desktop Media*/