:root {
	--primary-color: #E6AD0F;
	--secondary-color: #CFDBD5;
	--supporting-color: #E8EDDF;
	--dark-color: #242423;
	--light-color: #ffffff;
	--light-dark: #333533;
	--main-font: Helvetica, Arial, sans-serif;
	--secondary-font: 'Montserrat', sans-serif;
	/*--light-bg: #fefefc;*/
}

	/*General Use*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	text-decoration: none;
	letter-spacing: 0.1em;
	color: white;
}

p {
	letter-spacing: 0.1em;
	font-size: 14px;
}


ul {
	text-decoration: none;
	list-style-type: none;
}

html {
	scroll-behavior: smooth;

}

h2, h3 {
	font-family: var(--secondary-font);
}

h2, h3 {
	text-transform: uppercase;
}

section {
	margin: 0;
}

	

/*----------------------------------Utilities------------------------------------------------*/

.btn {
	border: 1px solid;
	margin-top: 10px;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 15px;
	padding: 10px;
	background-color: var(--dark-color);

}

.btn:hover {
	background-color: var(--primary-color);
	transition: all .45s ease;
	color: white;
	border: 1px solid black;
}


/*MEDIA QUERY FOR PHONE*/

@media only screen and (max-width: 400px) {

	.nav-top {
		width: 100%;
		height: 80px;
		background: var(--dark-color);
		position: fixed;
		padding: 0px 10%;

		z-index: 1;

	}

	.header-logo {
		width: 100px;
		height: 100px;

	}

	.header-logo img {
		width: 100%;
		height: 100%;
	}

	nav a {
		color: white;
	}

	nav ul {

		position: fixed;
		width: 100%;
		height: 100vh;
	    background: var(--light-dark);
	    top: 80px;
	    right: -100%;
	    text-align: center;
	    transition: all .5s;
	    font-family: var(--secondary-font); 

	    /*z-index: 1;*/

	}

	nav ul li {
		display: block;
	    margin: 50px 0;
	    line-height: 15px;
		font-family: var(--main-font);
		text-transform: uppercase;
		font-size: 10px;
	}

	nav ul p {
		color: white;
		font-size: 11px;
	}

	nav ul span {
		color: var(--primary-color);
	}

	nav ul li a {

	    font-size: 13px;
	  }

	nav a:hover {

		color: var(--primary-color);
		transition: all 1s ease;

	}

	nav a:active ~ ul {
		right: 0;
	}

	.nav-icons {
		margin: 10px;
	}

	.nav-icons h3 {
		font-size: 12px;
		color: white;
		margin-top: 100px;
	}

	.nav-icons .fab {
		margin: 5px;
		font-size: 20px;
		color: var(--primary-color);
	}

	.nav-icons .fab:hover {
		font-size: 20px;
		color: var(--light-color);
	}

	.nav-top .checkbtn {

		font-size: 20px;
		color: white;
		line-height: 80px;
		cursor: pointer;
		float: right;
	}

	#check {
		display: none;
	}

	.checkbtn {
		display: block;
	}

	#check:checked ~ ul {
		right: 0;
	}






	#landing {

		height: 100vh;
		width: 100vw;
		background: url(../images/Sample.jpg) no-repeat center center fixed;
		background-size: cover;
		overflow: hidden;
		
	}

	.landing-container {
		position: relative;
		/*padding-top: 500px;*/
		height: 100%;
		font-family: var(--main-font);
		color: var(--secondary-color);
		text-align: center;
		align-items: center;
		justify-content: center;

	}

	.overview {
			margin-top: 430px;

		}

	.landing-container h1 {
		font-family: var(--secondary-font);
		color: var(--light-color);
		font-weight: 900;
		font-size: 50px;
		text-transform: uppercase;
		
	}

	.landing-container h2 {

		font-family: var(--secondary-font);
		font-weight: 100;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}


	h1 span {
		color: var(--primary-color);
		margin: 0;
		
		animation: animate 3s linear forwards;
	}

	@keyframes animate {

		0% {
	 		opacity: 0;
	 		filter: blur(10px);
	}
		100% {
			opacity: 1;
			filter: blur(0);
		}
	}


	.header-logo img {
		width: 100%;
		height: 100%;
	}

	
	.landing-container h1 {
		font-size: 30px;
	}
	.landing-container h2 {
		font-size: 10px;
	}


	/*--------------------Mobile About Page Section---------------------------------*/

	#section-about {
	margin: 0 auto;
	height: auto;
	background: var(--light-dark);
	}

	.about-container {
		color: white;
		font-family: var(--secondary-font);

	}

	.section-intro {
		padding-top: 90px;
	}

	.section-intro > p {
		margin-top: 3px;
		text-align: center;
		text-transform: uppercase;
		font-size: 10px;
	}

	.section-intro h2 {
		font-size: 15px;
		text-align: center;
		font-family: var(--secondary-font);
		color: var(--light-color);
		letter-spacing: 0.1em;
	}


	.about-container span {
		color: var(--primary-color);
	}


	.grid-about {
		
		padding:20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
		grid-auto-rows: minmax(100px, auto); 
		align-self: center;

	}
		/*---------------------------My Picture Container--------------------------------------------*/

	.about-img {
		height: 300px;
		border-radius: 10px;
		background: url(../images/IMG_3010.png) no-repeat center var(--supporting-color);

		filter: grayscale(1);
		
	}

		/*------------------------------My Skill Container-------------------------------------------*/

	.skill-container {

		box-sizing: border-box;
		border-radius: 15px;
		padding: 20px;
		background: var(--light-dark);

		display: grid;
		grid-template-columns: 1fr;

	}

	hr {
		margin: 10px 20px;
	}

	.skills-name {
		font-weight: bold;
		font-size: 12px;
	}

	.skill-container p {
		font-size: 12px;
		margin: 5px;
		text-align: justify;
	}
	div > h3 {
		font-size: 13px;
	}

	.span-me-2 {
		color: var(--primary-color);
	}

	.html-skill {
		margin: 1px;
		width: 100%;
		background: #ddd;
		border-radius: 10px;
	}

	.skills {
		font-size: 12px;
		text-align: right;
		padding-top: 2px;
		padding-bottom: 2px;
		color: white; 
		border-radius: 5px;
	}

	.html {background-color: #390099; width: 90%}
	.css {background-color: #9E0059; width: 25%}
	.js {background-color: #FF0054; width: 36.2%}
	.php {background-color: #FF5400; width: 29.59%}
	.mysql {background-color: #FFBD00; width: 86.4%}
	.java {background-color: #FFE6A7; width:73.4%}
	.matulog {background-color: #99582A; width: 92%}


		/*--------------------Mobile Aesthetic Section--------------------------------*/

	#aesthetic-design {
		height: auto;
		
	}

	.aesthetic-grid {

		background: url(../images/Aesthetic-background-design.jpg) no-repeat top center fixed;
		background-size: cover;
	}

	.icons-div {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		justify-content: center;
		
		padding-top: 30px;
		padding-bottom: 80px;

	}

	.icon {
		margin-top: 25px;
	}


	.icons-div p {

		margin: 10px;
		color: var(--light-color);
		font-family: var(--secondary-font);
		font-size: 16px;
	}

	.icon .number {

		font-size: 36px;
		font-weight: 700;
	}

	.icon .fas, .far {

		color: var(--primary-color);
		font-size: 50px;
		margin-bottom: 8px;
	}

	.fas:hover, .far:hover {
		color: white;
	}

	/*-----------------------------Mobile Project Section-------------------------------------*/

	#section-project {
		margin: 0 auto;
		height: auto;


	}

	.project-intro {
		padding-top: 80px;
		text-align: center;
		font-family: var(--secondary-font);
		letter-spacing: 0.1em;
	}

	.project-intro h2 {
		font-size: 15px;
	}

	.project-intro p {
		font-size: 10px;
	}

	.span-me {
		color: var(--primary-color);
	}

	.project-div {
		margin: 0 10px;
		padding: 15px;
		display: grid;
		grid-template-columns: 1fr;

		grid-gap: 30px;
		
	}

	.project-1 {
		width: 100%;
		height: 300px;
		background-size: cover;
		border: 1px solid gray;
		border-radius: 5px;
		

	}

	.project-1-description {
		padding: 5px;
	}

	.project-1-description h3 {
		font-size: 14px;
		font-family: var(--secondary-font);	

	}

	.project-1 a {
		color: var(--light-dark);
	}

	.project-1 a:hover {
		color: var(--light-dark);
	}

	.project-img {
		background: url(../images/Canva.PNG) no-repeat center center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
	}

	.project-1-description p {
		font-size: 11px;
	}

	.project-img-footer {
		margin-top: 8px;
		height: 50px;
		background: var(--supporting-color);
		border-radius: 4px;
	}


	 .project-btn {
		margin: 5px 5px;
		padding: 10px;
		background: var(--primary-color);
		border-radius: 2px;
		border: 1px solid var(--primary-color);

	}

	.project-btn:hover {
		background: var(--light-color);
		border: 1px solid var(--light-color);
		/*color: var(--dark-color);*/
	}

	.project-img-1 {
		background: url(../images/Cavas.PNG) no-repeat center center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
	}

	.project-img-2 {
		background: url(../images/Canva1.PNG) no-repeat center center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
	}

	.project-img-3 {
		background: url(../images/Canva2.PNG) no-repeat center center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
	}



		/*-------------------Portrait--------------------*/

	.project-portrait {
		padding: 10px;
		background: var(--light-dark);
		color: white;
		text-align: center;
	}

	.portrait-intro {
		margin: 10px;
	}

	.portrait-intro > p {
		font-size: 10px;
	}
	.portrait-intro span {
		color: var(--primary-color);
	}

	.project-portrait > h3 {
		margin: 30px;
		
	}

	.project-portrait-box {

		margin: 0 10px;
		
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5px;	
		
	}
	
	.portrait-box-1 {

		width: 100%;
		height: 150px;
	}

	.portrait-box-img {

		height: 100%;
		background: url(../images/Css.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 50%;

		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

	}

	.portrait-box-img-1 {

		height: 100%;
		background: url(../images/html5.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;

		border-radius: 50%;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

	}

	.portrait-box-img-2 {
		height: 100%;
		background: url(../images/nodejs.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 50%;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

	}

	.portrait-box-img-3 {
		height: 100%;
		background: url(../images/Javascript.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 50%;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

	}

	.portrait-box-img-4 {
		height: 100%;
		background: url(../images/php.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 50%;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

	}

	.portrait-box-img-5 {
		height: 100%;
		background: url(../images/Reactjs.jpg) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 50%;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

	}

	.portrait-box-img-6 {
		height: 100%;
		background: url(../images/mysql.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 50%;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

	}

	.portrait-box-img-7 {
		height: 100%;
		background: url(../images/angular.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 50%;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

	}


	.tooltiptext {
		font-size: 11px;
		visibility: hidden;
		font-family: var(--secondary-font);
		position: absolute;
		width: 50px;
		color: white;
		background-color: var(--dark-color);
		text-align: center;
		border-radius: 6px;
		padding: 5px;

	}


	.tooltiptext::after {
	  content: "";
	  position: absolute;
	  top: 100%;
	  left: 30%;
	  margin-left: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: black transparent transparent transparent;
	  
	}


	.portrait-box-img-7:hover,
	.portrait-box-img-6:hover,
	.portrait-box-img-5:hover,
	.portrait-box-img-4:hover,
	.portrait-box-img-3:hover,
	.portrait-box-img-2:hover,
	.portrait-box-img-1:hover,
	.portrait-box-img:hover {
		opacity: 1;
		cursor: pointer;
		
	}
	
	.portrait-box-img:hover .tooltiptext {
		visibility: visible;
	}

	.portrait-box-img-1:hover .tooltiptext {
		visibility: visible;
	}
	
	.portrait-box-img-2:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-3:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-4:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-5:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-6:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-7:hover .tooltiptext {
		visibility: visible;
	}

		/*-------------------Resume Page------------------*/

	#my-resume {
		position: relative;
		margin: 0 auto;
		height: auto;
		font-family: var(--secondary-font);
	}

	#my-resume h4 {
		margin-left: 20px;
		font-size: 12px;
		text-transform: uppercase;
		font-family: var(--secondary-font);
	}

	#my-resume h6 {
		position: absolute;
		left: 20px;
		bottom: 520px;
		font-size: 12px;
		text-transform: uppercase;
	}

	.resume-intro {
		
		text-align: center;
		padding-top: 90px;
		margin-bottom: 20px;
		
	}

	.resume-intro span {
		color: var(--primary-color);
	}

	
	.resume-container-1 {
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 5px;
		
	}

	.resume-experience {
		margin-bottom: 20px;
		padding: 10px;
		border: 1px solid gray;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

		box-shadow: 5px 5px 5px grey;
	}

	.resume-experience p {
		font-size: 12px;
	}


	.education-container-1 {
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 5px;

	}

	.education-1 {
		margin-bottom: 20px;
		padding: 10px;
		border: 1px solid gray;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

		box-shadow: 5px 5px 5px grey;
	}


	.education-1 p {
		font-size: 12px;
	}


	/*Mobile Aesthetic Number 2*/

	#aesthetic-design-2 {
		height: auto;
		font-family: var(--main-font);
		background: url(../images/4.jpg)
		rgba(220,220,220, 0.5) no-repeat center fixed;
		background-size: cover;
		overflow: hidden;
		
	}

	
	.slider1 .aesthetic-grid-2 {
      float: left;
      justify-content: center;
      width: 25%;

    }

    .slider1 {
      position: relative;
      width: 400%;
      animation: slide 20s infinite;
    }

    @keyframes slide {

      0% {
        left: 0;
      }
      10% {
        left: 0%;
      }
      20% {
        left: -100%;
      }
      30% {
        left: -100%;
      }
      40% {
        left: -200%;
      }
      50% {
        left: -200%;
      }
      60% {
        left: -300%;

      }
      70% {
        left: -300%;
      }
      80% {
        left: -400%;
      }
      90% {
        left: -400%;
      }
      100% {
        left: 0;
      }

    }

	.peoples-container {
		padding: 20px;
		
	}

	.peoples-div {
		
		color: white;
		padding-top: 30px;
		padding-bottom: 80px;
		align-items: center;
		text-align: center;
		justify-content: center;
	}

	.peoples-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 80px;
		width: 80px;
		background: url(../images/kevinhart.jpg) no-repeat center;
		background-size: cover;
		border-radius: 50%;
	}

	.peoples-img-1 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 80px;
		width: 80px;
		background: url(../images/billgates.jpg) no-repeat center;
		background-size: cover;
		border-radius: 50%;
	}

	.peoples-img-2 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 80px;
		width: 80px;
		background: url(../images/stevejob.jpg) no-repeat center;
		background-size: cover;
		border-radius: 50%;
	}

	.peoples-img-3 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 80px;
		width: 80px;
		background: url(../images/Mark.jpg) no-repeat center;
		background-size: cover;
		border-radius: 50%;
	}


	.peoples-description p {
		padding: 0 20px;
		font-size: 11px;
		font-style: italic;
	}

	.peoples-description h4 {
		padding: 10px;
		font-size: 20px;
	}

	.peoples-description span {
		font-size: 20px;
		color: var(--primary-color);
	}

	
	/*CONTACT SECTION*/

	#contact-me {
		height: auto;
		font-family: var(--secondary-font);
	}
	
	.contact-me-intro {
		text-align: center;
		margin: 10px 0px;
		padding-top: 90px;
		margin-bottom: 20px;
	}

	.contact-me-intro p {
		font-size: 11px;

	}

	.contact-me-container {
		margin: 10px;
		margin-bottom: 50px;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}

	.contact-me-information {
		margin: 0 10px;
		padding: 20px;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);
		box-shadow: 5px 5px 5px grey;
	}

	.area-1 textarea {
		padding: 1px;
		font-size: 11px;
		font-family: var(--secondary-font);
		display: block;
		width: 100%;
		height: 100px;
		border: 1px solid gray;
		margin-bottom: 10px;
		border-radius: 2px;
	}

	.area-1 .name {
		padding-left: 2px;
		font-size: 11px;
		width: 100%;
		height: 20px;
		margin: 1px;
	}

	.contact-me-button {
		float: right;
	}

	.contact-btn {
		padding: 10px;
		background: var(--primary-color);
		border-radius: 1px;
		border: 1px solid var(--primary-color);
		border-radius: 5px;
	}

	.contact-btn:hover {
		background: var(--light-color);
		border: 1px solid var(--primary-color);
		color: var(--primary-color);
		border-radius: 5px;
	}

	.area-2 {
		clear: both;
		padding-top: 50px;

		text-align: center;
	}

	.area-2 h3 {
		font-size: 11px;
	}

	
	.area-2 .fab {
		font-size: 40px;
		
		
	}

	.area-2 .fab:hover {
		font-size: 40px;
		
		color: var(--primary-color);

		
	}

	.contact-me-information-2 {
		margin: 0 10px;
		padding: 20px;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);
		box-shadow: 5px 5px 5px grey;


	}

	.contact-me-information-2 h3 {
		font-family: var(--main-font);
		margin-top: 70px;
	}

	.resume-icon > div {
		
		margin: 10px;
		
	}

	.resume-icon .fas {
		font-size: 20px;
	}

	.resume-icon .fas:hover {
		color: black;
	}

	.resume-information {
		margin-left: 10px;
		font-family: var(--secondary-font);
		font-size: 16px;
		font-weight: lighter;
	}


	.resume-btn {
		margin: 10px;
		margin-bottom: 0px;

		padding: 15px;
		background: var(--primary-color);
		border: 1px solid var(--primary-color);
	}

	.resume-btn:hover {
		color: var(--primary-color);
		background: var(--light-color);
		border: 1px solid var(--primary-color);

		box-shadow: 5px 5px 5px grey;

		cursor: pointer;
	}


	/*FOOTER*/

	#contact-map {
		margin: 0 auto;

	}

	.contact-map-1 {
		width: 100%;
		background-color: black;
		
	}

	.contact-map-2 {
		width: 100%;
	
	}

	#footer {
		margin: 0;
		height: auto;
	}

	.footer-1 {
		font-size: 13px;
		padding: 50px;
		color: white;
		text-align: center;
		justify-content: center;
		align-items: center;
		font-family: var(--secondary-font);
		background: var(--dark-color);

	}


 } /*----------------------------------------------End of Media Phone-----------------------------------------------------*/

 	/*---------------------------------------------Start of Media Desktop-------------------------------------------------*/

@media only screen and (min-width: 961px) {

.nav-top {
	width: 100%;
	height: 80px;
	background: var(--dark-color);
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0px 10%;

	z-index: 1;

}

.header-logo {
	margin-top: 25px;
	width: 100px;
	height: 100px;

}

.header-logo img {
	width: 100%;
	height: 100%;
}

#check, .checkbtn {
	display: none;
}

.nav-icons {
	display: none;
}

ul > p {
	display: none;
}

nav a {
	color: white;
}

nav ul li {
	margin: 10px;
	font-family: var(--main-font);
	display: inline;
	text-transform: uppercase;
	font-size: 11px;
}

nav a:active, a:hover {

	color: var(--primary-color);
	transition: all .45s ease;

}

#landing {

	height: 100vh;
	background: url(../images/Sample.jpg) no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	
}
.landing-container {
	position: relative;
	/*padding-top: 500px;*/
	height: 100%;
	font-family: var(--main-font);
	color: var(--secondary-color);
	text-align: center;
	align-items: center;
	justify-content: center;

}

.overview {
		
		position: absolute;
		/*left: 30%;
		right:30%;
		top: 60%;
		bottom:25%;*/
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);

	}


.landing-container h1 {
	font-family: var(--secondary-font);
	color: var(--light-color);
	font-weight: 900;
	font-size: 50px;
	text-transform: uppercase;
	


}

.landing-container h2 {

	font-family: var(--secondary-font);

	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}


h1 span {

	color: var(--primary-color);
	margin: 0;
	
	animation: animate 2s linear forwards;
}

@keyframes animate 

{
	0% {
 		opacity: 0;
 		filter: blur(10px);
}
	100% {
		opacity: 1;
		filter: blur(0);
	}
}


	/*--------------------------Start of About Page (DESKTOP)---------------------------------------------*/

#section-about {
	margin: 0 auto;
	height: auto;
	/*padding: 70px;*/
	background: var(--light-dark);
}

.about-container {
	margin: 0 10%;
	height: 100vh;
	color: white;
	font-family: var(--secondary-font);

}

.section-intro {
	padding-top: 90px;
}

.section-intro > p {
	margin-top: 3px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}

.section-intro h2 {
	text-align: center;
	font-family: var(--secondary-font);
	color: var(--light-color);
	letter-spacing: 0.1em;
}

.about-container span {
	color: var(--primary-color);
}


.grid-about {
	margin-top: 30px;
	padding:20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto); 
	

}

	/*--------------------------CERTIFICATE FOR DESKTOP-------------------------------------------*/

.about-img {
		border-radius: 5px;
		padding: 10px;
		background: var(--supporting-color);

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5px;

		
}

.certification {
	padding: 10px 10px;
	padding-left: 10px;
	width: 250px;
}

.certification > div {
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.about-certificate-1 {

	height: 100px;
	width: 170px;
	background: url(../images/ITIL.jpg) no-repeat top center;
	background-size: cover;

	border-top: 3px solid var(--primary-color);
	border-left: 3px solid var(--primary-color);
	box-shadow: 5px 5px 5px grey;


}

.about-certificate-2 {
	height: 100px;
	width: 170px;
	background: url(../images/Late.jpg) no-repeat top center;
	background-size: cover;

	border-top: 3px solid var(--primary-color);
	border-left: 3px solid var(--primary-color);
	box-shadow: 5px 5px 5px grey;
}

.about-certificate-3 {
	height: 100px;
	width: 170px;
	background: url(../images/Meeting.jpg) no-repeat center;
	background-size: cover;

	border-top: 3px solid var(--primary-color);
	border-left: 3px solid var(--primary-color);
	box-shadow: 5px 5px 5px grey;
}

.about-certificate-4 {
	height: 100px;
	width: 170px;
	background: url(../images/math.jpg) no-repeat center;
	background-size: cover;

	border-top: 3px solid var(--primary-color);
	border-left: 3px solid var(--primary-color);
	box-shadow: 5px 5px 5px grey;
}


.about-img-1 {

		width: 500px;

		background: url(../images/IMG_3010.png) no-repeat center;
		filter: grayscale(1);
		box-shadow: 5px 5px 5px grey;

}

			/*-----------------------SKILL CONTAINER For DESKTOP-----------------------------*/

	.skill-container {

		box-sizing: border-box;
		border-radius: 15px;
		padding: 20px;
		background: var(--light-dark);

		display: grid;
		grid-template-columns: 1fr;

	}

	hr {
		margin: 10px 20px;
	}

	.skills-name {
		font-weight: bold;
		font-size: 12px;
	}

	.skill-container p {
		font-size: 14px;
		margin: 5px;
		text-align: justify;
	}

	.skill-container h3 {
		padding: 10px 0px;
		font-size: 16px;


	}
	div > h3 {
		font-size: 13px;
	}

	.span-me-2 {
		color: var(--primary-color);
	}

	.html-skill {
		margin: 1px;
		width: 100%;
		background: #ddd;
		border-radius: 10px;
	}

	.skills {
		font-size: 16px;
		font-weight: bold;
		text-align: right;
		padding-top: 3px;
		padding-bottom: 3px;
		color: white; 
		border-radius: 5px;
	}

	.html {background-color: #390099; width: 90%}
	.css {background-color: #9E0059; width: 25%}
	.js {background-color: #FF0054; width: 36.2%}
	.php {background-color: #FF5400; width: 29.59%}
	.mysql {background-color: #FFBD00; width: 86.4%}
	.java {background-color: #FFE6A7; width:73.4%}
	.matulog {background-color: #99582A; width: 92%}




	/*--------------------DESKTOP Aesthetic Section--------------------------------*/
		
	#aesthetic-design {
	height: auto;
		
	}

	.aesthetic-grid {

		background: url(../images/Aesthetic-background-design.jpg) no-repeat top center fixed;
		background-size: cover;
	}

	.icons-div {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		text-align: center;
		justify-content: center;
		
		padding-top: 30px;
		padding-bottom: 80px;

	}

	.icon {
		margin-top: 25px;
	}


	.icons-div p {

		margin: 10px;
		color: var(--light-color);
		font-family: var(--secondary-font);
		font-size: 16px;
	}

	.icon .number {

		font-size: 36px;
		font-weight: 700;
	}

	.icon .fas, .far {

		color: var(--primary-color);
		font-size: 50px;
		margin-bottom: 8px;
	}

	.fas:hover, .far:hover {
		color: white;
	}

		/*--------------------PROJECT SECTION OF DESKTOP-------------------------------*/

	#section-project {
	margin: 0 auto;
	height: auto;

	background: var(--light-bg);
	}

	.project-intro {
		padding-top: 85px;
		text-align: center;
		font-family: var(--secondary-font);
		letter-spacing: 0.1em;
	}

	.project-intro h2 {
		font-size: 1.5em;
	}

	.project-intro p {
		font-size: 12px;
	}

	.span-me {
		color: var(--primary-color);
	}

	.project-div {
		margin: 50px 10%;
		padding: 15px;
		
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		grid-gap: 30px;
		
	}

	.project-1 {
		width: 100%;
		height: 500px;

		border-radius: 4px;
		background-size: cover;
		background: var(--light-color);
		border: 1px solid gray;

		box-shadow: 5px 5px 5px grey;
	

	}

	.project-1-description {
		padding: 20px;
	}

	.project-1-description h3 {
		letter-spacing: 1px;
		font-size: 16px;
		font-family: var(--secondary-font);	
		margin-bottom: 10px;

	}

	.project-1 a {
		color: var(--light-dark);
	}

	.project-1 a:hover {
		color: var(--light-dark);
	}

	
	.project-1-description p {
		font-family: var(--secondary-font);
		font-size: 13px;
	}

	.project-img-footer {
		margin-top: 26px;
		height: 50px;
		background: var(--supporting-color);
		border-radius: 4px;
	}


	 .project-btn {
		margin: 8px 10px;
		padding: 10px;
		background: var(--primary-color);
		border-radius: 2px;
		border: 1px solid var(--primary-color);

	}

	.project-btn:hover {
		background: var(--light-color);
		border: 1px solid var(--light-color);
		color: var(--dark-color);
	}

	.project-img {
		background: url(../images/Canva.PNG) no-repeat center center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
		border-radius: 4px;


	}

	.project-img-1 {
		background: url(../images/Cavas.PNG) no-repeat center center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
		border-radius: 4px;

	}

	.project-img-2 {
		background: url(../images/Canva1.PNG) no-repeat top center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
		border-radius: 4px;

	}

	.project-img-3 {
		background: url(../images/Canva2.PNG) no-repeat top center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
		border-radius: 4px;

	}
	

		/*PORTRAIT SECTION*/

	.project-portrait {
		padding: 10px 0px;
		background: var(--light-dark);
		color: white;
		text-align: center;
	}

	.portrait-intro {

		margin-bottom: 50px;
	}

	.portrait-intro > p {
		font-size: 13px;
	}
	.portrait-intro span {
		color: var(--primary-color);
	}

	.portrait-intro h3 {
		font-size: 1.5em;
		
		
	}

	.project-portrait-box {

		margin-bottom: 20px;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 10px;	

			
	}
	
	.portrait-box-1 {

		width: 100%;
		height: auto;
	}

	.box {
		grid-column: 1/3;
		grid-row: 1/5;
	}

	.box-3 {
		grid-column: 5/7;
		grid-row: 1/3;
	}

	.box-4 {
		grid-column: 5/7;
		grid-row: 3/5;
	}

	.box-6 {
		grid-column: 4/5;
		grid-row: 2/5;
	}

	.box-7 {
		grid-column: 3/4;
		grid-row: 3/5;
	}



	.portrait-box-img {
		
		height: 100%;
		background: url(../images/Css.png) no-repeat center;
		background-size: cover;
		margin-bottom: 10px;
		
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;
		
	}


	.portrait-box-img-1 {

		height: 100%;
		background: url(../images/html5.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;
		
	}

	.portrait-box-img-2 {
		height: 100%;
		background: url(../images/nodejs.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}
	
	.portrait-box-img-3 {
		height: 100%;
		background: url(../images/Javascript.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.portrait-box-img-4 {
		height: 100%;
		background: url(../images/cakephp.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.portrait-box-img-5 {
		height: 100%;
		background: url(../images/Reactjs.jpg) no-repeat center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.portrait-box-img-6 {
		height: 100%;
		background: url(../images/mysql.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.portrait-box-img-7 {
		height: 100%;
		background: url(../images/angular.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.tooltiptext {
		visibility: hidden;
		font-family: var(--secondary-font);
		position: absolute;
		width: 100px;
		color: white;
		background-color: var(--dark-color);
		text-align: center;
		border-radius: 6px;
		padding: 5px;

	}


	.tooltiptext::after {
	  content: "";
	  position: absolute;
	  top: 100%;
	  left: 50%;
	  margin-left: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: black transparent transparent transparent;
	  
	}


	.portrait-box-img-7:hover,
	.portrait-box-img-6:hover,
	.portrait-box-img-5:hover,
	.portrait-box-img-4:hover,
	.portrait-box-img-3:hover,
	.portrait-box-img-2:hover,
	.portrait-box-img-1:hover,
	.portrait-box-img:hover {
		opacity: 1;
		cursor: pointer;
		
	}
	
	.portrait-box-img:hover .tooltiptext {
		visibility: visible;
	}

	.portrait-box-img-1:hover .tooltiptext {
		visibility: visible;
	}
	
	.portrait-box-img-2:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-3:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-4:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-5:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-6:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-7:hover .tooltiptext {
		visibility: visible;
	}

	

	/*RESUME SECTION*/


	#my-resume {
		position: relative;
		margin: 0 auto;
		height: 100vh;
		font-family: var(--secondary-font);
		background: var(--light-bg);
	}

	#my-resume h4 {
		margin: 0 11%;
		
		font-size: 13px;
		text-transform: uppercase;
	}

	#my-resume h6 {
		position: absolute;
		top: 138px;
		left: 972px;
		font-size: 13px;
		text-transform: uppercase;
	}

	.resume-intro {
		text-align: center;
		padding-top: 90px;
		margin-bottom: 20px;
	
	}

	.resume-intro h3 {

		font-size: 1.5em;
	}

	.resume-intro span {
		color: var(--primary-color);
	}

	.resume-container {
		margin: 0 10%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: minmax(100px, auto);

	}


	.resume-container-1 {
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 5px;
		
	}

	.resume-experience {
		margin-bottom: 20px;
		padding: 10px;
		border: 1px solid gray;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

		box-shadow: 5px 5px 5px grey;
	}

	.resume-experience p {
		font-size: 12px;
	}

	.education-container-1 {
		height: 76%;
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 5px;
	}

	.education-1 {
		height: 104px;
		padding: 10px;
		border: 1px solid gray;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

		box-shadow: 5px 5px 5px grey;
	}


	.education-1 p {
		font-size: 12px;
	}


	/*--------------------------------Aesthetic design 2 for DESKTOP------------------------------------*/


	#aesthetic-design-2 {
	height: auto;
	font-family: var(--main-font);
	background: url(../images/6.jpg)
	rgba(220,220,220, 0.5) no-repeat center fixed;
	background-size: cover;
	overflow: hidden;
		
	}

	.slider1 .aesthetic-grid-2 {
      float: left;
      justify-content: center;
      width: 25%;

    }

    .slider1 {
      position: relative;
      width: 400%;
      animation: slide 20s infinite;
    }

    @keyframes slide {

      0% {
        left: 0;
      }
      10% {
        left: 0%;
      }
      20% {
        left: -100%;
      }
      30% {
        left: -100%;
      }
      40% {
        left: -200%;
      }
      50% {
        left: -200%;
      }
      60% {
        left: -300%;

      }
      70% {
        left: -300%;
      }
      80% {
        left: -400%;
      }
      90% {
        left: -400%;
      }
      100% {
        left: 0;
      }

    }


	
	.peoples-container {
		text-align: center;
		padding: 20px;
		
	}

	.peoples-div {
		
		color: white;
		padding-top: 30px;
		padding-bottom: 80px;
		align-items: center;
		text-align: center;
		justify-content: center;
	}

	.peoples-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 120px;
		width: 120px;
		background: url(../images/kevinhart.jpg) no-repeat center;
		background-size: cover;
		border-radius: 50%;
	}

	.peoples-img-1 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 120px;
		width: 120px;
		background: url(../images/billgates.jpg) no-repeat center;
		background-size: cover;
		border-radius: 50%;
	}

	.peoples-img-2 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 120px;
		width: 120px;
		background: url(../images/stevejob.jpg) no-repeat center;
		background-size: cover;
		border-radius: 50%;
	}

	.peoples-img-3 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 120px;
		width: 120px;
		background: url(../images/Mark.jpg) no-repeat center;
		background-size: cover;
		border-radius: 50%;
	}

	.peoples-description p {
		padding: 0 20px;
		font-size: 14px;
		font-style: italic;
	}

	.peoples-description h4 {
		padding: 10px;
		font-size: 24px;
	}

	.peoples-description span {
		font-size: 20px;
		color: var(--primary-color);
	}


	/*CONTACT for DESKTOP*/

	#contact-me {
		height: auto;
		font-family: var(--secondary-font);
		background: var(--light-bg);
	}
	
	.contact-me-intro {
		text-align: center;
		margin: 10px 0px;
		padding-top: 90px;
		margin-bottom: 20px;
	}

	.contact-me-intro h3 {
		font-size: 1.5em;
	}

	.contact-me-intro p {
		font-size: 14px;

	}

	.contact-me-container {

		margin: 20px 10%;
		margin-bottom: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}

	.contact-me-information {
		width: 70%;
		margin: 0 10px;
		padding: 30px;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);
		box-shadow: 5px 5px 5px grey;
		background: #fefefc;
	}

	.area-1 textarea {
		font-size: 13px;
		font-family: var(--secondary-font);
		display: block;
		width: 100%;
		height: 100px;
		padding: 2px;
		margin-top: 5px;
		margin-bottom: 10px;
		border-radius: 2px;
	}

	.area-1 .name {

		width: 100%;
		height: auto;
		padding: 10px 2px 2px 5px;
		margin: 5px 0px;
		font-size: 13px;
		border: 1px solid gray;
	}


	.contact-me-button {
		float: right;
	}

	.contact-btn {
		padding: 10px;
		background: var(--primary-color);
		border-radius: 1px;
		border: 1px solid var(--primary-color);
		border-radius: 5px;
	}

	.contact-btn:hover {
		background: var(--light-color);
		border: 1px solid var(--primary-color);
		color: var(--primary-color);
		border-radius: 5px;
	}

	.area-2 {
		clear: both;
		padding-top: 100px;

		text-align: center;
	}

	.area-2 .fab {
		font-size: 40px;
		
		
	}

	.area-2 .fab:hover {
		font-size: 40px;
		
		color: var(--primary-color);
		cursor: pointer;

		
	}

	.contact-me-information-2 {
		justify-self: end;
		width: 70%;
		margin: 0 10px;
		padding: 20px;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);
		box-shadow: 5px 5px 5px grey;
		background: #fefefc;


	}


	.resume-icon > div {
		
		margin: 10px;
		
	}

	.contact-me-information-2 h3 {

		margin-top: 100px;
	}

	.resume-icon .fas {
		color: black;
		font-size: 30px;
	}

	.resume-icon .fas:hover {
		color: black;
	}

	.resume-information {
		font-family: var(--secondary-font);
		font-size: 20px;
		font-weight: lighter;
	}


	.resume-btn {
		margin-top: 20px;
		margin-bottom: 0px;

		padding: 15px;
		background: var(--primary-color);
		border: 1px solid var(--primary-color);
	}

	.resume-btn:hover {
		color: var(--primary-color);
		background: var(--light-color);
		border: 1px solid var(--primary-color);

		box-shadow: 5px 5px 5px grey;

		cursor: pointer;
	}


	/*FOOTER*/

	#contact-map {
		margin: 0 auto;

	}

	.contact-map-1 {
		width: 100%;
		background-color: black;
		
	}

	.contact-map-2 {
		width: 100%;
		

	}

	#footer {
		margin: 0;
		height: auto;
	}


	.footer-1 {
		font-size: 16px;
		padding: 50px;
		color: white;
		text-align: center;
		justify-content: center;
		align-items: center;
		font-family: var(--secondary-font);
		background: var(--dark-color);

	}


}  /*End of Desktop Media*/



/*MEDIA QUERY FOR TABLET*/


@media only screen and (min-width: 401px) and (max-width: 960px) {


	.nav-top {
	width: 100%;
	height: 80px;
	background: var(--dark-color);
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0px 10%;

	z-index: 1;

	}

	.header-logo {
		margin-top: 25px;
		width: 100px;
		height: 100px;

	}

	.header-logo img {
		width: 100%;
		height: 100%;
	}

	#check, .checkbtn {
		display: none;
	}

	.nav-icons {
		display: none;
	}

	ul > p {
		display: none;
	}

	nav a {
		color: white;
	}

	nav ul li {
		margin: 10px;
		font-family: var(--main-font);
		display: inline;
		text-transform: uppercase;
		font-size: 11px;
	}

	nav a:active, a:hover {

		color: var(--primary-color);
		transition: all .45s ease;

	}


	#landing {

		height: 100vh;
		background: url(../images/Sample.jpg) no-repeat center center fixed;
		background-size: cover;
		overflow: hidden;
		
	}
	.landing-container {
		position: relative;
		/*padding-top: 500px;*/
		height: 100%;
		font-family: var(--main-font);
		color: var(--secondary-color);
		text-align: center;
		align-items: center;
		justify-content: center;

	}

	.overview {
			
			position: absolute;
			top: 75%;
			left: 50%;
			transform: translate(-50%, -50%);

		}


	.landing-container h1 {
		font-family: var(--secondary-font);
		color: var(--light-color);
		font-weight: 900;
		font-size: 35px;
		text-transform: uppercase;
		


	}

	.landing-container h2 {

		font-family: var(--secondary-font);

		font-weight: 100;
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}


	h1 span {

		color: var(--primary-color);
		margin: 0;
		
		animation: animate 2s linear forwards;
	}

	@keyframes animate 

	{
		0% {
	 		opacity: 0;
	 		filter: blur(10px);
	}
		100% {
			opacity: 1;
			filter: blur(0);
		}
	}
		/*SECTION ABOUT FOR TABLET*/

	#section-about {
		margin: 0 auto;
		height: auto;
		/*padding: 70px;*/
		background: var(--light-dark);
	}

	.about-container {
		margin: 0 5%;
		height: auto;
		color: white;
		font-family: var(--secondary-font);

	}

	.section-intro {
		padding-top: 90px;
	}

	.section-intro > p {
		margin-top: 3px;
		text-align: center;
		text-transform: uppercase;
		font-size: 11px;
	}

	.section-intro h2 {
		font-size: 1.3em;
		text-align: center;
		font-family: var(--secondary-font);
		color: var(--light-color);
		letter-spacing: 0.1em;
	}

	.about-container span {
		color: var(--primary-color);
	}


	.grid-about {
		margin-top: 30px;
		padding:20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
		grid-auto-rows: minmax(100px, auto); 
		

	}
	.about-img {
		border-radius: 5px;
		padding: 10px;
		background: var(--supporting-color);

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5px;

		
}

	.certification {
		padding: 5px 5px;
		padding-left: 10px;
		width: 120px;
	}

	.certification > div {
		margin-bottom: 10px;
		
	}

	.about-certificate-1 {

		height: 70px;
		width: 120px;
		background: url(../images/ITIL.jpg) no-repeat top center;
		background-size: cover;

		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);
		box-shadow: 5px 5px 5px grey;


	}

	.about-certificate-2 {
		height: 70px;
		width: 120px;
		background: url(../images/Late.jpg) no-repeat top center;
		background-size: cover;

		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);
		box-shadow: 5px 5px 5px grey;
	}

	.about-certificate-3 {
		height: 70px;
		width: 120px;
		background: url(../images/Meeting.jpg) no-repeat center;
		background-size: cover;

		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);
		box-shadow: 5px 5px 5px grey;
	}

	.about-certificate-4 {
		height: 70px;
		width: 120px;
		background: url(../images/math.jpg) no-repeat center;
		background-size: cover;

		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);
		box-shadow: 5px 5px 5px grey;
	}


	.about-img-1 {

		width: 450px;
		background: url(../images/IMG_3010.png) no-repeat center center;
		box-shadow: 5px 5px 5px grey;
		filter: grayscale(1);

	}

			/*SKILL CONTAINER OF TABLET*/

	.skill-container {

		box-sizing: border-box;
		border-radius: 15px;
		padding: 20px;
		background: var(--light-dark);

		display: grid;
		grid-template-columns: 1fr;

	}

	hr {
		margin: 10px 20px;
	}

	.skills-name {
		font-weight: bold;
		font-size: 12px;
	}

	.skill-container p {
		font-size: 14px;
		margin: 5px;
		text-align: justify;
	}

	.skill-container h3 {
		padding: 10px 0px;
		font-size: 16px;


	}
	div > h3 {
		font-size: 13px;
	}

	.span-me-2 {
		color: var(--primary-color);
	}

	.html-skill {
		margin: 1px;
		width: 100%;
		background: #ddd;
		border-radius: 10px;
	}

	.skills {
		font-size: 16px;
		font-weight: bold;
		text-align: right;
		padding-top: 3px;
		padding-bottom: 3px;
		color: white; 
		border-radius: 5px;
	}

	.html {background-color: #390099; width: 90%}
	.css {background-color: #9E0059; width: 25%}
	.js {background-color: #FF0054; width: 36.2%}
	.php {background-color: #FF5400; width: 29.59%}
	.mysql {background-color: #FFBD00; width: 86.4%}
	.java {background-color: #FFE6A7; width:73.4%}
	.matulog {background-color: #99582A; width: 92%}	





	/*--------------------TABLET Aesthetic Section--------------------------------*/
		
	#aesthetic-design {
	height: auto;
		
	}

	.aesthetic-grid {

		background: url(../images/Aesthetic-background-design.jpg) no-repeat top center fixed;
		background-size: cover;
	}

	.icons-div {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		text-align: center;
		justify-content: center;
		
		padding-top: 30px;
		padding-bottom: 80px;

	}

	.icon {
		margin-top: 25px;
	}


	.icons-div p {

		margin: 10px;
		color: var(--light-color);
		font-family: var(--secondary-font);
		font-size: 13px;
	}

	.icon .number {

		font-size: 36px;
		font-weight: 700;
	}

	.icon .fas, .far {

		color: var(--primary-color);
		font-size: 50px;
		margin-bottom: 8px;
	}

	.fas:hover, .far:hover {
		color: white;
	}

	#section-project {
	margin: 0 auto;
	height: auto;

	background: var(--light-bg);
	}

	.project-intro {
		padding-top: 85px;
		text-align: center;
		font-family: var(--secondary-font);
		letter-spacing: 0.1em;
	}

	.project-intro h2 {
		font-size: 1.5em;
	}

	.project-intro p {
		font-size: 12px;
	}

	.span-me {
		color: var(--primary-color);
	}

	.project-div {
		margin: 50px 5%;
		padding: 15px;
		
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		grid-gap: 20px;
		
	}

	.project-1 {
		width: 100%;
		height: 500px;
		border-radius: 4px;
		background-size: cover;
		background: var(--light-color);
		border: 1px solid gray;

		box-shadow: 5px 5px 5px grey;
	

	}


	.project-1-description {
		padding: 20px;
	}

	.project-1-description h3 {
		letter-spacing: 1px;
		font-size: 16px;
		font-family: var(--secondary-font);	
		margin-bottom: 10px;

	}

	.project-1 a {
		color: var(--light-dark);
	}

	.project-1 a:hover {
		color: var(--primary-color);
	}

	
	.project-1-description p {
		font-family: var(--secondary-font);
		font-size: 14px;
	}

	.project-img-footer {
		margin-top: 20px;
		height: 50px;
		background: var(--supporting-color);
		border-radius: 4px;
	}


	 .project-btn {
		margin: 8px 10px;
		padding: 10px;
		background: var(--primary-color);
		border-radius: 2px;
		border: 1px solid var(--primary-color);

	}

	.project-btn:hover {
		background: var(--light-color);
		border: 1px solid var(--light-color);
		color: var(--dark-color);
	}

	.project-img {
		background: url(../images/Canva.PNG) no-repeat top center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
		border-radius: 4px;


	}

	.project-img-1 {
		background: url(../images/Cavas.PNG) no-repeat center center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
		border-radius: 4px;

	}

	.project-img-2 {
		background: url(../images/Canva1.PNG) no-repeat top center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
		border-radius: 4px;

	}

	.project-img-3 {
		background: url(../images/Canva2.PNG) no-repeat top center;
		background-size: cover;
		height: 60%;
		margin-bottom: 10px;
		border-radius: 4px;

	}




	/*PORTRAIT SECTION*/

	.project-portrait {
		padding: 10px 0px;
		background: var(--light-dark);
		color: white;
		text-align: center;
	}

	.portrait-intro {

		margin-bottom: 50px;
	}

	.portrait-intro > p {
		font-size: 13px;
	}
	.portrait-intro span {
		color: var(--primary-color);
	}

	.portrait-intro h3 {
		font-size: 1.3em;
		
		
	}

	.project-portrait-box {

		margin-bottom: 20px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 10px;	

			
	}

	.box {
		grid-column: 1/3;
		grid-row: 1/3;
	}


	.box-4 {
		grid-column: 2/3;
	}

	.box-5 {
		grid-row: 3/5;
	}

	.box-2 {
		grid-column: 2/3;
		grid-row: 3/4;
	}

	.box-6 {
		grid-column: 3/4;
		grid-row: 4/6;

	}

	.box-3 {
		grid-column: 3/4;
		grid-row: 2/4;

	}

	.box-7 {
		grid-column: 1/3;
	}


	.portrait-box-img {
		
		height: 100%;
		background: url(../images/Css.png) no-repeat center;
		background-size: cover;
		margin-bottom: 10px;
		
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;
		
	}


	.portrait-box-img-1 {

		height: 100%;
		background: url(../images/html5.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;
		
	}

	.portrait-box-img-2 {
		height: 100%;
		background: url(../images/nodejs.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}
	
	.portrait-box-img-3 {
		height: 100%;
		background: url(../images/Javascript.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.portrait-box-img-4 {
		height: 100%;
		background: url(../images/cakephp.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.portrait-box-img-5 {
		height: 100%;
		background: url(../images/Reactjs.jpg) no-repeat center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.portrait-box-img-6 {
		height: 100%;
		background: url(../images/mysql.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.portrait-box-img-7 {
		height: 100%;
		background: url(../images/angular.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 10px;
		border-radius: 1px;
		border-top: 1px solid grey;
		border-left: 1px solid grey;

		opacity: 0.5;

	}

	.tooltiptext {
		visibility: hidden;
		font-family: var(--secondary-font);
		position: absolute;
		width: 100px;
		color: white;
		background-color: var(--dark-color);
		text-align: center;
		border-radius: 6px;
		padding: 5px;

	}

	.tooltiptext::after {
	  content: "";
	  position: absolute;
	  top: 100%;
	  left: 50%;
	  margin-left: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: black transparent transparent transparent;
	  
	}


	.portrait-box-img-7:hover,
	.portrait-box-img-6:hover,
	.portrait-box-img-5:hover,
	.portrait-box-img-4:hover,
	.portrait-box-img-3:hover,
	.portrait-box-img-2:hover,
	.portrait-box-img-1:hover,
	.portrait-box-img:hover {
		opacity: 1;
		cursor: pointer;
		
	}
	
	.portrait-box-img:hover .tooltiptext {
		visibility: visible;
	}

	.portrait-box-img-1:hover .tooltiptext {
		visibility: visible;
	}
	
	.portrait-box-img-2:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-3:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-4:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-5:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-6:hover .tooltiptext {
		visibility: visible;
	}

	
	.portrait-box-img-7:hover .tooltiptext {
		visibility: visible;
	}

	#my-resume {
		position: relative;
		margin: 0 auto;
		height: auto;
		font-family: var(--secondary-font);
		background: var(--light-bg);
	}

	#my-resume h4 {
		padding: 2px;
		margin: 0 11%;
		
		font-size: 15px;
		text-transform: uppercase;
		
		display: inline-block;
	}

	#my-resume h6 {
		position: absolute;
		bottom: 510px;
		left: 10%;
		font-size: 15px;
		text-transform: uppercase;
	}

	.resume-intro {
		text-align: center;
		padding-top: 90px;
		margin-bottom: 20px;
	
	}

	.resume-intro h3 {

		font-size: 1.5em;
	}

	.resume-intro span {
		color: var(--primary-color);
	}

	.resume-container {
		margin: 0 5%;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, auto);

	}


	.resume-container-1 {
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 5px;
		
	}

	.resume-experience {
		margin-bottom: 20px;
		padding: 10px;
		border: 1px solid gray;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

		box-shadow: 5px 5px 5px grey;
	}

	.resume-experience p {
		font-size: 14px;
	}

	.resume-experience h3 {
		font-size: 16px;
	}

	.education-container-1 {
		
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 5px;
	}

	.education-1 {
		margin-bottom: 20px;
		padding: 10px;
		border: 1px solid gray;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);

		box-shadow: 5px 5px 5px grey;
	}


	.education-1 p {
		font-size: 14px;
	}

	.education-1 h3 {
		font-size: 16px;
	}

	/*Aesthetic design 2*/


	#aesthetic-design-2 {
	height: auto;
	font-family: var(--main-font);
	background: url(../images/6.jpg)
		rgba(220,220,220, 0.5) no-repeat center fixed;
		background-size: cover;
		overflow: hidden;
		
	}
	
	.slider1 .aesthetic-grid-2 {
      float: left;
      justify-content: center;
      width: 25%;

    }

    .slider1 {
      position: relative;
      width: 400%;
      animation: slide 20s infinite;
    }

    @keyframes slide {

      0% {
        left: 0;
      }
      10% {
        left: 0%;
      }
      20% {
        left: -100%;
      }
      30% {
        left: -100%;
      }
      40% {
        left: -200%;
      }
      50% {
        left: -200%;
      }
      60% {
        left: -300%;

      }
      70% {
        left: -300%;
      }
      80% {
        left: -400%;
      }
      90% {
        left: -400%;
      }
      100% {
        left: 0;
      }

    }

  .peoples-container {
      
      padding: 20px;
    
  }

  .peoples-description {
    text-align: center;
    
  }

  .peoples-description p {
      padding: 0 20px;
      font-size: 11px;
      font-style: italic;
  }

  .peoples-description h4 {
      padding: 10px;
      font-size: 15px;
  }

  .peoples-description span {
      font-size: 15px;
      color: var(--primary-color);
  }


  .peoples-div {
      justify-content: center;
      width: 100%;
      height: 200px;
      color: white;
      padding-top: 30px;
      padding-bottom: 80px;
      
  }

  .peoples-img {
      display: block;
      margin-left: auto;

   }
	.peoples-container {
		padding: 20px;
		
	}

	.peoples-div {
		
		color: white;
		padding-top: 20px;
		padding-bottom: 80px;
		align-items: center;
		text-align: center;
		justify-content: center;
	}

	.peoples-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 80px;
		width: 80px;
		background: url(../images/kevinhart.jpg) no-repeat center;
		background-size: cover;
		border-radius: 50%;
	}

	.peoples-img-1 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 80px;
		width: 80px;
		background: url(../images/billgates.jpg) no-repeat center;
		background-size: cover;
		border-radius: 50%;
	}

	.peoples-img-2 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 80px;
		width: 80px;
		background: url(../images/stevejob.jpg) no-repeat center;
		background-size: cover;
		border-radius: 50%;
	}

	.peoples-img-3 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 80px;
		width: 80px;
		background: url(../images/Mark.jpg) no-repeat center;
		background-size: cover;
		border-radius: 50%;
	}


	.peoples-description p {
		padding: 0 20px;
		font-size: 12px;
		font-style: italic;
	}

	.peoples-description h4 {
		padding: 10px;
		font-size: 20px;
	}

	.peoples-description span {
		font-size: 20px;
		color: var(--primary-color);
	}

	/*CONTACT for TABLET*/

	#contact-me {
		height: auto;
		font-family: var(--secondary-font);
		background: var(--light-bg);
	}
	
	.contact-me-intro {
		text-align: center;
		margin: 10px 0px;
		padding-top: 90px;
		margin-bottom: 20px;
	}

	.contact-me-intro h3 {
		font-size: 1.3em;
	}

	.contact-me-intro p {
		font-size: 13px;

	}

	.contact-me-container {
		margin: 20px 5%;
		margin-bottom: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}

	.contact-me-information {
		margin: 0 10px;
		padding: 20px;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);
		box-shadow: 5px 5px 5px grey;
		background: #fefefc;
	}

	.area-1 textarea {
		font-size: 13px;
		font-family: var(--secondary-font);
		display: block;
		width: 100%;
		height: 100px;
		border: 1px solid gray;
		margin-bottom: 10px;
		border-radius: 5px;
	}

	.area-1 .name {
		width: 100%;
		height: auto;
		padding: 2px;
		margin: 5px 0px;
		font-size: 13px;
		border: 1px solid gray;
	}

	.contact-me-button {
		float: right;
	}

	.contact-btn {
		padding: 10px;
		background: var(--primary-color);
		border-radius: 1px;
		border: 1px solid var(--primary-color);
		border-radius: 5px;
	}

	.contact-btn:hover {
		background: var(--light-color);
		border: 1px solid var(--primary-color);
		color: var(--primary-color);
		border-radius: 5px;
	}

	.area-2 {
		clear: both;
		padding-top: 50px;

		text-align: center;
	}

	.area-2 .fab {
		font-size: 40px;
		
		
	}

	.area-2 .fab:hover {
		font-size: 40px;
		
		color: var(--primary-color);
		cursor: pointer;

		
	}

	.contact-me-information-2 {
		margin: 0 10px;
		padding: 20px;
		border-radius: 5px;
		border-top: 3px solid var(--primary-color);
		border-left: 3px solid var(--primary-color);
		box-shadow: 5px 5px 5px grey;
		background: #fefefc;


	}

	.resume-icon > div {
		margin: 10px;
		
	}

	.contact-me-information-2 h3 {

		margin-top: 100px;
	}

	.resume-icon .fas {
		color: black;
		font-size: 30px;
	}

	.resume-icon .fas:hover {
		color: black;
	}

	.resume-icon .resume-information {
		font-family: var(--secondary-font);
		font-size: 15px;
		font-weight: bolder;
	}


	.resume-btn {
		margin-top: 20px;
		margin-bottom: 0px;

		padding: 15px;
		background: var(--primary-color);
		border: 1px solid var(--primary-color);
	}

	.resume-btn:hover {
		color: var(--primary-color);
		background: var(--light-color);
		border: 1px solid var(--primary-color);

		box-shadow: 5px 5px 5px grey;

		cursor: pointer;
	}

	#contact-map {
		margin: 0 auto;

	}

	.contact-map-1 {
		width: 100%;
		background-color: black;
		
	}

	.contact-map-2 {
		width: 100%;
		

	}

	#footer {
		margin: 0;
		height: auto;
	}


	.footer-1 {
		font-size: 16px;
		padding: 50px;
		color: white;
		text-align: center;
		justify-content: center;
		align-items: center;
		font-family: var(--secondary-font);
		background: var(--dark-color);

	}

} /*End of Tablet Device*/



